* {
    margin: 0;
    padding: 0;
  }
  .App {
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, pink, blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 50vw;
    height: 30vh;
    background-color: whitesmoke;
    box-shadow: 0 0 20px white;
    border-radius: 7px;
  }
  button {
    border: 0;
    outline: none;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: rgb(235, 232, 232);
    box-shadow: 0 0 20px white;
    border-radius: 5px;
  }
  button:hover {
    background-color: whitesmoke;
  }
  